@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
    --font-oswald: "Oswald", sans-serif;

    --color-red: rgb(255, 66, 72);
    --color-white: rgb(240, 240, 240);
}

html {
    scrollbar-gutter: stable;
}
