@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

body {
    margin: 0px;
}

header {
    background-color: rgb(15, 25, 35);

    padding: 15px;

    display: flex;
    justify-content: center;
}

nav {
    height: fit-content;

    padding: 0px 300px;
    margin: 10px 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgb(15, 25, 35);

    display: flex;
    justify-content: center;

    padding: 10px;
    margin-top: 10px;

    font-family: "Oswald";
    font-weight: lighter;
    font-size: 15px;
    color: white;
}

button {
    background-color: #ff4566;
    border: none;

    padding: 5px 10px;

    transition: background-color 0.1s ease, color 0.1s ease;
    cursor: pointer;
}

button:hover {
    background-color: rgb(15, 25, 35);
}

.skin-card {
    width: 400px;
    height: fit-content;
}

.skin-img-wrapper {
    width: 100%;
    height: 250px;

    box-sizing: border-box;

    border: 2px solid rgb(15, 25, 35);
    border-bottom: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.skin-img {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
}

.skin-info {
    background-color: rgb(15, 25, 35);
    width: 100%;
    height: 80px;

    display: flex;
    align-self: flex-end;
    align-items: center;
    bottom: 0px;

    box-sizing: border-box;
    padding: 10px 15px;
}

.skin-name {
    font-family: "Oswald";
    font-size: 20px;
    color: white;

    display: flex;
    align-items: center;
    gap: 10px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.weapon-icon {
    height: 25px;
}

.skin-tier-icon {
    height: 25px;
}
