body {
    margin: 0px;
}

header {
    background-color: rgb(15, 25, 35);
    display: flex;
    justify-content: center;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 0px 300px;
    flex-wrap: wrap;
    margin: 10px 0px;
    gap: 10px;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgb(15, 25, 35);
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    font-family: "Oswald";
    font-weight: lighter;
    font-size: 15px;
    margin-top: 10px;
}

button {
    padding: 5px 10px;
    background-color: #ff4566;
    transition: background-color 0.1s ease, color 0.1s ease;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgb(15, 25, 35);
}

.skin-card {
    width: 400px;
    height: fit-content;
}

.skin-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid rgb(15, 25, 35);
    border-bottom: none;
    width: 100%;
    height: 250px;
}

.skin-img {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
}

.skin-info {
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 80px;
    align-self: flex-end;
    align-items: center;
    background-color: rgb(15, 25, 35);
    box-sizing: border-box;
    padding: 10px 15px;
}

.skin-name {
    font-family: "Oswald";
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
