@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

body {
    background-color: #ece8e0;
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 20px;

    color: #ece8e0;
    font-family: "Oswald";
}

* {
    box-sizing: border-box;
}

header {
    background-color: #0f1923;
    height: 80px;
    padding: 20px;

    display: flex;
    justify-content: center;

    img {
        height: 100%;
    }
}

main {
    padding: 0px 200px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    background-color: #0f1923;
    height: 60px;
    padding: 20px 200px;
    margin-top: auto;

    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 18px;
    font-weight: 300;

    img {
        height: 100%;
    }
}

input {
    background-color: #ece8e0;
    width: 100%;
    border: 2px solid #0f1923;
    border-radius: 10px;
    padding: 10px 20px;

    font-family: "Oswald";
    font-size: 20px;
    color: #0f1923;
}

.loader {
    width: 80px;
    height: 80px;
    display: inline-block;
    position: relative;
    align-self: center;
}
.loader::after,
.loader::before {
    content: "";
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ff4566;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

.filter-block-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-block {
    border: #0f1923 2px solid;
    height: 65px;
    min-height: fit-content;
    border-radius: 10px;

    display: flex;
    gap: 10px;
}

.filter-title {
    background-color: #0f1923;
    height: 100%;
    min-width: 200px;
    padding-left: 20px;
    border-radius: 5px 0px 0px 5px;

    display: flex;
    align-items: center;

    font-size: 20px;
    font-weight: 400;
}

.filter-button-wrapper {
    height: 100%;
    width: 100%;
    padding: 10px 0px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.filter-button {
    background-color: #0f1923;
    width: fit-content;
    height: 45px;
    padding: 10px 20px;
    border-radius: 10px;

    display: flex;
    gap: 10px;
    align-items: center;

    cursor: pointer;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;

    img {
        height: 100%;
    }

    span {
        font-size: 20px;
        font-weight: 300;
    }
}

.filter-button:hover {
    background-color: #ff4566;
}

.pressed {
    background-color: #ff4566;
}

.override-color {
    filter: brightness(0) saturate(100%) invert(97%) sepia(3%) saturate(847%)
        hue-rotate(327deg) brightness(102%) contrast(85%);
}

.card-wrapper {
    height: fit-content;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    width: 100%;
    height: fit-content;
    border: 2px solid #0f1923;
    border-radius: 10px;
}

.skin-img-wrapper {
    height: 250px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.skin-info {
    background-color: #0f1923;
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 0px 0px 5px 5px;

    font-size: 20px;

    .skin-tier-info {
        height: fit-content;

        display: flex;
        align-items: center;
        gap: 5px;

        color: rgba(236, 232, 224, 0.5);
        font-size: 18px;
        font-weight: 300;

        img {
            height: 20px;
        }
    }
}

.hidden {
    display: none;
}
