@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
    --font-oswald: "Oswald", sans-serif;
}

/* TODO: move this block with animations to tailwind html */
#img-wrapper {
    transition-timing-function: ease-out;
    transition-duration: 100ms;
}

#portrait-wrapper {
    transition-timing-function: ease-out;
    transition-duration: 100ms;
}

#card:hover {
    #img-wrapper {
        padding: 24px;
    }

    #portrait-wrapper {
        padding-top: 24px;
    }
}
