@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

body {
    min-height: 100vh;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(15, 25, 35);

    padding: 15px;

    display: flex;
    justify-content: center;
}

nav {
    height: fit-content;

    padding: 0px 320px;
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

main {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgb(15, 25, 35);

    text-align: center;

    padding: 10px;
    margin-top: auto;

    font-family: "Oswald";
    font-weight: lighter;
    font-size: 15px;
    color: white;
}

button {
    background-color: #ff4566;
    border: none;

    padding: 5px 10px;

    transition: background-color 0.1s ease, color 0.1s ease;
    cursor: pointer;
}

button:hover {
    background-color: rgb(15, 25, 35);
}

.skin-card {
    width: 400px;
}

.skin-img-wrapper {
    width: 100%;
    height: 250px;

    box-sizing: border-box;

    border: 2px solid rgb(15, 25, 35);
    border-bottom: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.skin-img {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
}

.skin-info {
    background-color: rgb(15, 25, 35);
    width: 100%;
    height: 80px;

    align-content: center;

    box-sizing: border-box;
    padding: 10px 15px;
}

.skin-name {
    font-family: "Oswald";
    font-size: 20px;
    color: white;

    display: flex;
    align-items: center;
    gap: 10px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.weapon-icon {
    height: 25px;
}

.skin-tier-icon {
    height: 25px;
}

.loader {
    margin: 50px 0px;

    width: 50px;
    height: 50px;

    border: 8px solid #f3f3f3;
    border-top: 8px solid #ff4566;
    border-radius: 50%;

    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
